Лаба6/Client/Client/Connected Services/RailwayService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56785/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56785/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56785/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTrip_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrip" />
  </wsdl:message>
  <wsdl:message name="IService_GetTrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTripResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTicketsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsCount" />
  </wsdl:message>
  <wsdl:message name="IService_GetTicketsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BuyTicketOnTrip_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyTicketOnTrip" />
  </wsdl:message>
  <wsdl:message name="IService_BuyTicketOnTrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyTicketOnTripResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrip">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTrip" message="tns:IService_GetTrip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTripResponse" message="tns:IService_GetTrip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketsCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTicketsCount" message="tns:IService_GetTicketsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTicketsCountResponse" message="tns:IService_GetTicketsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyTicketOnTrip">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BuyTicketOnTrip" message="tns:IService_BuyTicketOnTrip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BuyTicketOnTripResponse" message="tns:IService_BuyTicketOnTrip_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrip">
      <soap:operation soapAction="http://tempuri.org/IService/GetTrip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsCount">
      <soap:operation soapAction="http://tempuri.org/IService/GetTicketsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyTicketOnTrip">
      <soap:operation soapAction="http://tempuri.org/IService/BuyTicketOnTrip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:56785/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>